@keyframes fade {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 0;
    transform: translate(calc(var(--translate-x-distance) * 1px), calc(var(--translate-y-distance) * 1px));
  }
}

.pixel {
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: whitesmoke;
  animation: fade forwards 0.95s ease-out;
  pointer-events: none;
  z-index: 1000;
}
